/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#first-box {
    height: 30vh;
    width: auto;
    border: 5px solid black;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: flex-end;
}

#purpur-box {
    width: 5vw;
    height: 20vh;
    background-color: blueviolet;
    margin: 1vh;
}

#greenie {
    width: 35vw;
    height: 28vh;
    background-color: green;
    margin: 1vh 3vw;
}

#boo-circle {
    width: 28vh;
    height: 28vh;
    background-color: #87ceeb;
    margin: 10px 20px 10px 80px;
    border-radius: 14vh;
}

#second-box {
    height: 34vh;
    width: auto;
    border: 5px dotted black;
    margin: 10px 10px 10px 10px;
    display: Flex;
    align-items: center;
    justify-content: center;
}

#tan-box {
    width: 90%;
    height: 80%;
    background-color: palegoldenrod;
    box-shadow: 10px 15px 8px gray;
}

#third-box {
    border: 2px solid gainsboro;
    box-shadow: 5px 10px 8px gainsboro;
    width: 40vw;
    height: 28vh;
    display: flex;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.hello-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    color: blue;
    ;
}